<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqlConnection"
            connectionString="Data Source=DESKTOP-T3L3RE2\MSSQLSERVER02;Initial Catalog=QLCF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>