<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqlConnection"
            connectionString="Data Source=DESKTOP-9MG202M\STUDYY;Initial Catalog=QLSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>